@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    
    color: var(--color-letras);
}
button{
    border-radius: .5em;
    background: var(--color-Boton);
    color: var(--color-Boton-letras);
}
header{
    display: flex;
    justify-content: space-between;

    padding: 1em;
}
.carrito, .listaProductos{
    display: none;
}
.section{
    display: none;
}
main{
    flex-grow: 1;
    overflow: scroll;
}
section{
    margin: 1em;
    padding: .5em;

    display: flex;
    flex-direction: column;

    background: var(--color-fondo2);
}
section article{
    display: flex;
    flex-direction: column;
    gap: .4em;
}
.imgs{
    height: 50%;    

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
}
.imgs img{
    display: flex;
}
.imgs img:first-child{
    grid-area: 1/2/5/6;
}
.text{
    display: flex;
    align-items: flex-end;
    gap: 2em;
}
article button{
    height: 2em;
    width: 7em;
}
.visible{
    font-size: 2em;
    
    position: absolute;
    overflow: scroll;
    margin-top: 3rem;
    height: 50vh;
    width: 70%;
    
    display: flex;
    justify-content: center;

    background: var(--color-producto);
}
.listaX{
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (min-width: 500px) {
    .producto{
        display: none;
    }
    .listaProductos{
        width: 7%;
        flex-grow: 1;

        display: flex;
        justify-content: center;
    }
    .listaProductos ul{
        width: 90%;

        overflow: scroll;
        
        display: flex;
        gap: 2em;
    }
    .listaProductos ul li a{
        font-size: 2em;
    }
    section{
        flex-direction: row;
        gap: 2em;
    }
    section article{
        justify-content: center;
        gap: 1em;
    }
    header button:first-child{
        display: none;
    }
}